@import url("https://fonts.googleapis.com/css2?family=Bilbo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

/* Theme Colors */
:root {
  --gold: #ffd700;
  --emerald: #50c878;
  --white: #ffffff;
  --pink: #fc8eac;
  --shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alegreya", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: var(--white);
  color: #333;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-image: url("/pre_wedding_pix.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2rem; */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

/* Toast */
.wrapper .toast {
  background-color: var(--pink);
  color: var(--white);
  padding: 1.2rem 2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.8rem;
  margin: 1.5rem auto;
  max-width: 90%;
  font-size: 1.4rem;
}

/* Sticky Message */
.sticky-message {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: rgba(238, 136, 64, 0.8);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  max-width: 90%;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px var(--shadow);
  border: 1px solid orange;
}

/* Responsive Typography */
h1,
h2,
h3 {
  font-family: "Bilbo", cursive;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
   /* padding: 3rem 1.5rem; */
    background-position: top center;
  }

  .wrapper {
    padding: 1rem;
  }

  .sticky-message {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    top: 1rem;
  }

  .wrapper .toast {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 56.25%;
  }

  .hero {
    height: 80vh;
  }

  .sticky-message {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  .wrapper .toast {
    font-size: 1rem;
  }
}
