/* WeddingInvite.css */

.wedding-container {
  background-image: url("/hero2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(252, 142, 172, 0.85);
  background-blend-mode: darken;
  min-height: 80vh;
}

.overlay {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Full height of the container */
  font-family: "Alegreya", serif;
  font-weight: 600;
  text-align: center;
}

.content {
  color: white; /* Ensure the text contrasts against the background */
}

.date-row {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 6rem;
}

.dot {
  font-size: 6rem;
}

.content p {
  font-size: 1.7rem;
  margin: 0;
}

.intro,
.invite {
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  font-weight: bold; /* Make the text stand out */
}

.date {
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  padding-bottom: 3rem;
  font-size: 2.2rem;
}

.location {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  font-weight: 400;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .date-row {
    font-size: 4rem; /* Adjust the date size for smaller screens */
  }

  .intro,
  .invite {
    font-size: 1.5rem;
  }

  .date {
    font-size: 1.8rem;
  }

  .location {
    font-size: 1.8rem;
  }

  .wedding-container {
    min-height: 60vh; /* Reduce the height on smaller screens */
  }
}

@media (max-width: 480px) {
  .date-row {
    font-size: 3rem; /* Further reduce the font size */
  }

  .intro,
  .invite {
    font-size: 1.3rem;
  }

  .date {
    font-size: 1.5rem;
  }

  .location {
    font-size: 1.5rem;
  }

  .wedding-container {
    min-height: 50vh; /* Adjust the height on very small screens */
  }
}
